* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#width {
  margin-top: 100px;
  padding: 20px;
  width: 880px;
}

#hero-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#control {
  margin-top: 20px;
}

#task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
}

@media screen and (max-width: 420px) {
  #task-form {
    width: 340px;
    padding-left: 10px;
    padding-right: 20px;
  }
}

#button {
  width: 200px;
}

@media screen and (max-width: 420px) {
  #control {
    width: 320px;
  }
}

#title {
  font-size: 25px;
}

@media screen and (max-width: 420px) {
  #title {
    font-size: 18px;
  }
}

#value {
  margin-top: 10px;
}

#points {
  margin-top: 20px; /* Add top margin */
  font-size: 16px; /* Optional for better readability */
}

.task-item {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 71%);
  box-shadow: inset 1px 1px 2px hsl(0, 0%, 25%);
}

.edit-button {
  position: fixed;
  margin-left: 245px;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
  color: hsl(0, 0%, 48%);
  box-shadow: inset 1px 1px 2px hsl(0, 0%, 25%);
}

.delete-button {
  position: fixed;
  margin-left: 195px;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
  color: hsl(0, 0%, 48%);
  box-shadow: inset 1px 1px 2px hsl(0, 0%, 25%);
}
